Repository BitsOfAByte/KikoGuide, pull requests merged in 2022-08, with the labels that each got.

#16 Contribution
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/Snowcloak.json
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/TheWanderersPalace.json
Labels: changes | resources

#22 feat: add ipc and use TStrings
  src/Base/PluginConfig.cs
  src/Base/PluginService.cs
  src/Base/PluginStrings.cs
  src/KikoPlugin.cs
  src/Managers/CommandManager.cs
  src/Managers/DutyManager.cs
  src/Managers/IPCManager.cs
  src/Managers/IPCProviders/IDs.cs
  src/Managers/IPCProviders/WotsitIPC.cs
  src/Managers/ResourceManager.cs
  src/Resources/Localization/Plugin/KikoGuide_Localizable.json
  src/Resources/Localization/Plugin/en.json
  src/Types/Duty.cs
  src/UI/Components/Duty/DutiesList.component.cs
  src/UI/Components/Duty/DutyBoss.component.cs
  src/UI/Components/Duty/DutyHeading.component.cs
  src/UI/Screens/DutyInfo/DutyInfo.screen.cs
  src/UI/Screens/DutyList/DutyList.screen.cs
  src/UI/Screens/Editor/Editor.presenter.cs
  src/UI/Screens/Editor/Editor.screen.cs
  src/UI/Screens/Settings/Settings.screen.cs
Labels: changes | plugin, changes | resources

#24 feat: update for net6
  src/KikoGuide.csproj
  src/Managers/ResourceManager.cs
  src/packages.lock.json
Labels: changes | plugin

#28 docs(duties): Add ARR guides to EN
  .gitignore
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/TheKeeperoftheLake.json
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/TheLostCityofAmdapor.json
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/TheStoneVigil_Hard.json
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/TheSunkenTempleofQarn_Hard.json
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/TheTamTaraDeepcroft_Hard.json
  src/Resources/Localization/Duty/en/A Realm Reborn/Dungeons/TheWanderersPalace_Hard.json
Labels: changes | resources
